page-login {
  .btn-avancar {
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    height: 45px !important;
    text-transform: capitalize !important;
    font-size: 18px;

  }
  .btn-avancar:hover {
    background-color: #ff0000 !important;
    border: 2px solid #ff0000;

  }
}
