


<ion-content padding class="fundo-body">
    <button ion-button  menuToggle class="menu">
        <ion-icon name="menu" style="color: #fff" ></ion-icon>
      </button>

    <ion-grid>
        <ion-row>

          <ion-col col-2   class="esconder-menu">
              <ion-list style="border-color: transparent !important;">







                <button id="menu" menuClose ion-item no-lines *ngFor="let p of menu" (keyup)="onKeyMENU($event,p)" (click)="openPage(p)" autofocus  style="background-color: transparent; color: #fff; font-size: 15px;"  class="botao-menu texto-menu">
                  <ion-icon name="{{p.icon}}" style="font-size: 90px; padding: 0px !important"></ion-icon>
                  <br>

                {{p.title}}

                  </button>


                </ion-list>
            </ion-col>


            <ion-col col-12 col-md-10 col-lg-10 col-xl-10 style="height: 100px">





                <div style="width: 100%; height: 10px"></div>



                            <h1 style="color: #fff">Filmes favoritos</h1>
                          <div style="width: 100%"></div>




                          <ion-scroll id="teste" scrollX="true" style="white-space: nowrap; height: 400px;" *ngIf="STATUS == '1'" class="caixa-scrol">




              <button ion-button *ngFor="let l of lista"  class="caixa-capa-home" style="width: 240px; height: 355px  "  (keyup)="onKey($event,l.ID_FILM)" (click)="varFilme(l.ID_FILM)">

                <div class="estrela-capa-home"><ion-icon name="ios-star"></ion-icon> {{l.RATING}} </div>
                <img class="img2-capa" [src]="l.CAPA" width="100%"  height="100%">

                <span class="fundo-capa"></span>
                <p class="titulo-filmes"><b >{{l.TITULO}}</b></p>



               </button>

                       </ion-scroll>

                       <div *ngIf="STATUS == '0'">
                          <p style="color: #ff0224">Nenhum filme favoritado</p>
                                           </div>



                  <div style="width: 100%; height: 50px"></div>




                      <h1 style="color: #fff">Séries favoritas</h1>
                    <div style="width: 100%"></div>
                    <ion-scroll id="teste" scrollX="true" style="white-space: nowrap; height: 400px;" *ngIf="STATUS2 == '1'" class="caixa-scrol">



                      <button ion-button *ngFor="let l of listaS"  class="caixa-capa-home" style="width: 240px; height: 355px" (keyup)="onKeySerie($event,l.ID_SERIE)" (click)="varSerie(l.ID_SERIE)">
                        <div class="estrela-capa-home"><ion-icon name="ios-star"></ion-icon> {{l.RATING}} </div>
                        <img class="img2-capa" [src]="l.CAPA" width="100%"  height="100%">
                        <span class="fundo-capa"></span>
                        <p class="titulo-filmes"><b >{{l.TITULO}}</b></p>

                    </button>

                 </ion-scroll>

                 <div *ngIf="STATUS2 == '0'">
<p style="color: #ff0224">Nenhuma série favoritada</p>
                 </div>
















                <div style="width: 100%; height: 50px"></div>


















                      </ion-col>



        </ion-row>
      </ion-grid>
</ion-content>
