

<ion-content padding class="background-body">
  <button ion-button  menuToggle class="menu">
    <ion-icon name="menu" style="color: #fff" ></ion-icon>
  </button>

    <ion-grid>
        <ion-row>



                <ion-col col-2 class="esconder-menu" >

                    <ion-list style="border-color: transparent !important;">




                      <button id="menu" menuClose ion-item no-lines *ngFor="let p of menu2" (keyup)="onKeyMENU($event,p)" (click)="openPage(p)" autofocus  style="background-color: transparent; color: #fff; font-size: 15px;"  class="botao-menu texto-menu">
                        <ion-icon name="{{p.icon}}" style="font-size: 90px; padding: 0px !important"></ion-icon>
                        <br>

                      {{p.title}}
                        </button>


                      </ion-list>
                  </ion-col>

                  <ion-col col-12 col-md-10 col-lg-10 col-xl-10  >
<h2>Categorias de Filmes</h2>

                      <ion-row>
          <ion-col col-lg-2 col-sm-3 col-12 *ngFor="let l of lista" >

            <button class="DivCat caixa-cat"  (keyup)="onKey($event,l.ID_CAT, l.NOME)" (click)="varFilme(l.ID_CAT, l.NOME)"> {{l.NOME}} </button>


          </ion-col>


        </ion-row>
        </ion-col>






      </ion-row>
      </ion-grid>



</ion-content>
