<ion-content class="background-body2" *ngIf="TITULO">

  <div class="prazo">
    Você tem: <b>{{PRAZO}}</b> Dias
  </div>


  <ion-buttons left>
    <button ion-button icon-only (keyup)="bvoltar($event)" (click)="voltar()" class="voltar"
      style="background-color: transparent">
      <ion-icon name="arrow-back"></ion-icon> voltar &nbsp;&nbsp;
    </button>
  </ion-buttons>




  <div style=" position: absolute !important; z-index: 2; ">
    <br>
    <div class="esconder-capa2">

      <a (click)="play(ID, '1')"><img *ngIf="CAPA" src="http://clipart-library.com/images/6Tp5aga7c.png" width="100px"
          class="play-mobile">
        <img *ngIf="CAPA" [src]="CAPA" width="100%" style="object-fit: cover; height: 200px"></a>

      <h1 style="font-size: 40px; margin-left: 10px"><b>{{TITULO}}</b></h1>



      <div *ngIf="NOTA <= 2">
        <ion-icon name="star" style="color: #ffff00" style="margin-left: 10px"></ion-icon>
        <ion-icon name="ios-star-outline"></ion-icon>
        <ion-icon name="ios-star-outline"></ion-icon>
        <ion-icon name="ios-star-outline"></ion-icon>
        <ion-icon name="ios-star-outline"></ion-icon>
      </div>

      <div *ngIf="NOTA >= 3 && NOTA < 6" style="margin-left: 10px">
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="ios-star-outline"></ion-icon>
        <ion-icon name="ios-star-outline"></ion-icon>
      </div>

      <div *ngIf="NOTA >= 6 && NOTA < 8" style="margin-left: 10px">
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="ios-star-outline"></ion-icon>
      </div>

      <div *ngIf="NOTA >= 8" style="margin-left: 10px">
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
        <ion-icon name="star" style="color: #ffff00"></ion-icon>
      </div>





      <p style="margin-left: 10px"> {{SINOPSE}}</p>
    </div>

    <ion-grid>
      <ion-row>


        <ion-col col-md-2 col-lg-2 col-xl-2 col-sm-12 col-12 style="text-align: right">
          <ion-row>


            <ion-col col-12 class="text-detalhes">
              <ion-row>


                <ion-col col-12>
                  <div *ngIf="NOTA <= 2" class="esconder-capa">
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                  </div>

                  <div *ngIf="NOTA >= 3 && NOTA < 6" class="esconder-capa">
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                  </div>

                  <div *ngIf="NOTA >= 6 && NOTA < 8" class="esconder-capa">
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                  </div>

                  <div *ngIf="NOTA >= 8" class="esconder-capa">
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                    <ion-icon name="star" style="color: #ffff00"></ion-icon>
                  </div>



                </ion-col>



                <br class="esconder-capa">
                <ion-col col-12 class="esconder-capa">
                  <b>Nota: </b> {{NOTA}}
                </ion-col>


                <ion-col col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12>
                  <b>Idioma: </b> {{IDIOMA}}
                </ion-col>

                <ion-col col-12>
                  <b>Classificação: </b> {{NOTA}}
                </ion-col>

                <ion-col col-12>
                  <b>Lançamento: </b> {{LANCAMENTO}}
                </ion-col>

                <ion-col col-12>
                  <b>Diretor: </b> {{DIRETOR}}
                </ion-col>

                <ion-col col-12>
                  <b>Gênero: </b> {{GENERO}}
                </ion-col>

                <ion-col col-12>
                  <b>Lançamento: </b> {{LANCAMENTO}}
                </ion-col>
              </ion-row>
            </ion-col>



          </ion-row>


        </ion-col>


        <ion-col col-md-7 col-lg-7 col-xl-7 col-sm-12 col-12>
          <ion-row>



            <ion-col col-12 class="esconder-capa">
              <h1 style="font-size: 40px"><b>{{TITULO}}</b></h1>
            </ion-col>

            <ion-col col-12 class="esconder-capa">

              <b>Sinopse: </b> {{SINOPSE}}


            </ion-col>


          </ion-row>
          <ion-col col-12>
            <div class="esconder-capa">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
            <button *ngIf="FAVORITO == '0'" ion-button class="botao-star botao-detalhe" [disabled]="buttonDisabled"
              (keyup)="Adfavorito($event)" (click)="addFavoritos()">
              <ion-icon name="star" style="font-size: 30px"></ion-icon>
              <p>&nbsp;&nbsp;Add aos favoritos</p>
            </button>

            <button *ngIf="FAVORITO == '1'" ion-button class="botao-star-ativo botao-detalhe"
              [disabled]="buttonDisabled2" (keyup)="rmfavorito($event)" (click)="RFavoritos()">
              <ion-icon name="star" style="font-size: 30px"></ion-icon>
              <p>&nbsp;&nbsp;Remover dos favoritos</p>
            </button>

            <button ion-button *ngIf="TRAILER" class="botao-play botao-detalhe" (keyup)="onKeyTrailer($event, TRAILER)"
              (click)="varTrailer(TRAILER)">
              <ion-icon name="logo-youtube" style="font-size: 30px"></ion-icon>
              <p>&nbsp;&nbsp;Trailer</p>
            </button>

            <button ion-button (keyup)="plai($event,ID, '1')" (click)="play(ID, '1')" class="botao-play botao-detalhe">
              <ion-icon name="play" style="font-size: 30px"></ion-icon>
              <p>&nbsp;&nbsp;&nbsp;SERVIDOR 1</p>
            </button>

            <button ion-button *ngIf="LINK2 == 1" (keyup)="plai($event,ID, '2')" (click)="play(ID, '2')"
              class="botao-play botao-detalhe">
              <ion-icon name="play" style="font-size: 30px"></ion-icon>
              <p>&nbsp;&nbsp;&nbsp;SERVIDOR 2</p>
            </button>







          </ion-col>


        </ion-col>

        <ion-col col-md-3 col-lg-3 col-xl-3 col-sm-12 col-12 style="padding-right: 20px" class="esconder-capa">
          <img *ngIf="CAPA" [src]="CAPA" width="100%">
        </ion-col>


        <ion-col col-12>


          <div padding>
            <div style="width: 100%; height: 10px"></div>
            &nbsp;&nbsp;&nbsp;<H2>Filmes relacionados</H2>
            <ion-scroll id="teste" scrollX="true" style="white-space: nowrap; height: 410px;" class="caixa-scrol">



              <button ion-button *ngFor="let l of RELACIONADOS" class="caixa-capa-home"
                style="width: 240px; height: 355px; " (keyup)="onKey($event,l.ID_FILM)" (click)="varFilme(l.ID_FILM)">

                <div class="estrela-capa-home">
                  <ion-icon name="ios-star"></ion-icon> {{l.RATING}}
                </div>
                <img class="img2-capa" [src]="l.CAPA" width="100%" height="100%">

                <span class="fundo-capa"></span>
                <p class="titulo-filmes"><b>{{l.TITULO}}</b></p>



              </button>


            </ion-scroll>


          </div>
        </ion-col>
      </ion-row>
    </ion-grid>






  </div>




  <div class="background-filme">
    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(FUNDO)" class="capacss">
  </div>

</ion-content>